<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve existing files and directories directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Fallback all other requests to index.html for SPA client-side routing
  RewriteRule ^ index.html [L]
</IfModule>
